        {% extends 'base.html' %}

       {% block content %}


        <div class="card" style="width: 18rem; display: flex; column-gap: 15px; padding: 20px; padding-top: 50px;">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ movie.name }}</h5>
            
            <p class="card-text">Producer: {{ producer.name }}</p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">IMDB: {{ movie.imdb }}</li>
            <li class="list-group-item">IL: {{ movie.year }}</li>
            </ul>
        </div>

        {% endblock %}